.All{
  padding-top: 100px;
  background-color: black;
  border: 1px solid white;
  height: 550px;
}
.clock{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color: rgb(0,255,1);
  background-color: rgb(7, 7, 7);
  border: 2px solid rgb(0, 172, 240);
  box-shadow: 0 0 5px rgb(0, 172, 240), 0 0 10px rgb(0, 172, 240);
  border-radius: 1.25rem;
  height: 200px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 116px;
}
.clock span{
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.show-counter .countdown-link {
  font-family: 'Orbitron', sans-serif;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 0.5rem;
  border: 2px solid #e5ff00;
  box-shadow: 0 0 5px #e5ff00, 0 0 10px #e5ff00;
  border-radius: 1.25rem;
  text-decoration: none;
  color: rgb(0,255,1);
  height: 300px;
  margin-left: 30px;
  margin-right: 30px;
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 3rem;
}

input[type="text"]{
  color: red;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.boutons{
  padding-top: 10px;
  width: 400px;
  margin: auto;
  text-align: center;
}
#texte{
  color: rgb(255, 94, 0);
  font-style: italic;
}
button{
    padding: 7px;
    width: 130px;
    font-family: Helvetica;
}
button:hover{
  border: #ff96ad 1px solid;
  background: #ff96ad;
  box-shadow: 0 0 5px #ff96ad, 0 0 10px #ff96ad, 0 0 22px #ff96ad;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.container div{
  margin-left: 145px;
}
.timeUp{
  color: #e5ff00;
  font-size: 100px;
  text-align: center;
  font-family: Orbitron, sans-serif;
}